<ion-view view-title="CRUD page on tickets">
  <ion-content class="padding">
    <form ng-submit="addPatientToQueue()">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="patient id" ng-model="postData.patient_ids">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="checkin" ng-model="postData.checkin">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="first visit array" ng-model="postData.first_visit_array">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Add patient to queue</button>
        </div>
    </form>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="ticket in tickets" type="item-text-wrap" href="#/tab/dash/#">
        <h2>{{ticket.ticket_number}}</h2>
        <p>{{ticket.created_at}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
