<ion-view view-title="Clinics">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="clinic in clinics" type="item-text-wrap" href="#/tab/clinics/#">
        <img ng-src="http://localhost:9999/images/{{clinic.logo_pic_path}}">
        <h2>{{clinic.name}}</h2>
        <p>{{clinic.short_address}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(clinic)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
