<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- CRUD Tab -->
  <ion-tab title="CRUD" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/crud">
    <ion-nav-view name="tab-crud"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="My Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Clinics Tab -->
  <ion-tab title="Clinics" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/clinics">
    <ion-nav-view name="tab-clinics"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="My Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
